<div class="well">
  <h5 class="text-success">
    <i class="fa fa-graduation-cap"></i>
    {{name}}
  </h5>
  <p class="lead">
    <strong>{{date_range}}</strong>
    <br/>
    {{description}}
  </p>
</div>
