<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Melissa Spucces</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/resume.html">Resume</a>
        </li>
        <li>
          <a href="https://s3-us-west-2.amazonaws.com/melissa-online-portfolio/Melissa_Spucces_Resume.pdf" target="_blank">PDF Resume</a>
        </li>
        {{! <li><a href="/photos">Photography</a></li> }}
      </ul>
    </div>
  </div>
</nav>
